# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

ci/*
bazel/docker
cmake/docker
**/Makefile

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
**/README.md
**/docs

# Native build
bazel-*
build*

# Editor directories and files
user.bazelrc
*.user
*.swp
