.dockerignore

# Project Files unneeded by docker
.git
.gitignore
.github
.clang-format

ci/Makefile
ci/docker
ci/docs
ci/cache
ci/export

LICENSE
README.md
docs

# Native build
bazel-*/
build/
build*/

# Editor directories and files
*.user
*.swp
